doctype html
html(lang="en")
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title Document
        block links
            link(rel="stylesheet", href="css/style.min.css")
    body 
        block header
        block main
        block footer

        block scripts
            script(src="js/main.min.js")
